.scaffold {
    font: 11px verdana, arial, helvetica, sans-serif;
}

.scaffold a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

.scaffold h1 {
    color: #48802c;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

.scaffold ul {
    padding-left: 15px;
}

.scaffold input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}

.scaffold select {
    padding: 2px 2px 2px 0;
}

.scaffold textarea {
    width: 250px;
    height: 150px;
    vertical-align: top;
}

.scaffold input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.scaffold .body {
    position: relative;
    margin: 0 15px 10px 15px;
}

/* NAVIGATION MENU */

.scaffold .nav {
    background: #fff url(images/shadow.jpg) bottom repeat-x;
    border-width: 1px;
    border-color: #ccc;
    border-top-style: solid;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: solid;
    margin-top: 5px;
    padding: 7px 12px;
    position: relative;
    top: 0px;
}

.scaffold .menuButton {
    font-size: 10px;
    padding: 0 5px;
}

.scaffold .menuButton a {
    color: #333;
    padding: 4px 6px;
}

.scaffold .menuButton a.home {
    background: url(images/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.scaffold .menuButton a.list {
    background: url(images/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.scaffold .menuButton a.create {
    background: url(images/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* TABLES */

.scaffold table {
    border: 1px solid #ccc;
}

.scaffold tr {
    border: 0;
}

.scaffold td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}

.scaffold th {
    background: #fff url(images/shadow.jpg);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}

.scaffold th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    padding-right: 8px;
    padding-left: 5px;
}

.scaffold th.wicket_orderUp a, .scaffold th.wicket_orderDown a {
    background-position: right;
    background-repeat: no-repeat;
}

.scaffold th.wicket_orderUp a {
    background-image: url(images/sorted_asc.gif);
}

.scaffold th.wicket_orderDown a {
    background-image: url(images/sorted_desc.gif);
}

.scaffold .odd {
    background: #f7f7f7;
}

.scaffold .even {
    background: #fff;
}

/* LIST */

.scaffold table.scaffold-list {
    border-collapse: collapse;
}

.scaffold table.scaffold-list th, table.scaffold-list td {
    border-left: 1px solid #ddd;
}

.scaffold table.scaffold-list th:hover, table.scaffold-list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.scaffold .paginateButtons {
    background: #fff url(images/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}

.scaffold .paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}

.scaffold .paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */
.scaffold .dialog .css-layout {
    padding: 5px;
    border: 1px solid #ccc;
    display: table;
}

.scaffold .prop-div {
    padding: 5px;
    display: table-row;
}

.scaffold .prob-label {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    white-space: nowrap;
    display: table-cell;
}

.scaffold .prop-component {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    display: table-cell;
}

/* ACTION BUTTONS */

.scaffold .buttons {
    background: #fff url(images/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 7px 12px;
}

.scaffold .buttons a {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}

.scaffold .buttons a.delete {
    background: transparent url(images/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.scaffold .buttons a.edit {
    background: transparent url(images/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.scaffold .buttons a.save {
    background: transparent url(images/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.scaffold li.feedbackPanelINFO {
    background: #f3f8fc url(images/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px;
    line-height: 16px;
    padding-left: 30px;
}

.scaffold div.feedback {
}

.scaffold div.feedback ul {
    list-style: none;
    padding: 0;
}

.scaffold li.feedbackPanelERROR {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
    background: url(images/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}
